body {
}

.banner-image {
    width: 40%;
}
#park-detail {
    display: flex;
    align-items:center;
    justify-content: center;
}

.park-table {
    display: inline;
    
    
}

.details-page-img {
    
}

.weather-report {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.future-weather {
    display: inline-block;
    max-width: 80%;
    justify-content: center;
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.future-weather:hover span.text-content {
    opacity: 1;
}

.survey-form {
    margin-left: auto;
    margin-right: auto;
}

* {
    font-family: Roboto, sans-serif;
}