body {
}

.banner-image {
    width: 40%;
}
#park-detail {
    display: flex;
    align-items:center;
    justify-content: center;
}

.park-table {
    display: inline;
    
    
}

.details-page-img {
    
}

.weather-report {
    display: inline-flex;
    align-items: center;
}

.future-weather {
    display: inline-block;
    max-width: 80%;
    vertical-align: central;
}